@import url(/assets/Peachi-Medium.otf);
@font-face {
  font-family: "VANAFont";
  src: url("./assets/Peachi-Medium.otf");
}
.overlay{
  display: none;
}
.wrapper{
  overflow: hidden;
}
.text-wrapper{
  display: none;
}
.vertextL , .vertextR{
  display: none;
}
.svgt{
  display: none;

}
.content h1{
  display: none;
}
.hidin{
  display: block;
}
.hid{
    display: none;
}
.containerA { 
  display: none;
}

.fixed {
  position: fixed;
}

.splitText, .splitCont {
  display: contents;
}

.image7 {
  display: none;
}

.container__quatre {
  display: contents;
}

.container__trois_text {
  display: contents;
}

.container__cinq2 {
  display: contents;
}

.container__cinq2 img {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "VANAFont";
}

header {
  border-bottom: 1px solid green;
  width: 100%;
}

nav {
  height: 80px;
}

nav h1 {
  font-size: 3rem;
  font-weight: 200;
  color: green;
  position: absolute;
  letter-spacing: 10px;
  cursor: pointer;
}

nav ul {
  float: right;
  margin-right: 45px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 45px;
}

nav ul li a {
  position: relative;
  color: green;
  font-size: 1.4rem;
}

nav img {
  color: green;
}

label #btn,
label #cancel {
  color: green;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 1250px) {
  nav ul li {
    line-height: 110px;
    margin: 0 25px;
  }
  nav ul li a {
    font-size: 1.6rem;
  }
}
@media (max-width: 1118px) {
  nav h1 {
    left: 8%;
  }
}
@media (min-width: 944px) {
  nav h1 {
    left: 6%;
    top: 1vh;
    font-size: 2.8rem;
  }
}
@media (max-width: 860px) {
  label #btn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background:#36382d;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 100;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 1.3rem;
    color: white;
  }
  #check:checked ~ ul {
    left: 0;
  }
  #check:checked ~ label #btn {
    display: none;

  }
  #check:checked ~ label #cancel {
    display: block;
    
  }
}
.shop {
  z-index: 1;
  margin-top: 10% ;
 max-width: none !important;
  right: 0%;
  left: 0%;
float:right;
  text-align: center;
  color: white;
 
 
}

.shop h1 {
  font-weight: 100;
  font-size: 2rem;
}

.shop h2 {
  margin-top: 30px;
  font-weight: 300;
  font-size: 5.2rem;
  line-height: 80px;
}

.shop h3 {
  margin-top: 40px;
  font-weight: 300;
  font-size: 2rem;
  line-height: 80px;
}

.btn {
  margin-top: 40px;
  padding: 17px 25px;
  border-radius: 6px;
  color: green;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: 10;
  border-color: #1B604C;
}

.compliments {
  max-height: 120px;
  display: flex;
  overflow-x: auto;
  background-color: #1B604C;
  align-items: center;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}
.shopify-buy-frame {
  display: none;
}
.compliments .item {
  min-width: 110px;
  min-height: 110px;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  font-weight: 10;
}

.compliments img {
  min-height: 30px;
  
  margin-bottom: 5px;
}

@media (min-width: 1336px) {
  .compliments {
    max-height: none;
  }
  .compliments .item {
    min-height: 150px;
    
    font-size: 1rem;
    margin: 0;
  }
  .item h4{
    font-size: 0.8rem;
    min-width: 100px;
  }
  .compliments img {
    height: 65px;
    margin-top: 25%;
    margin-bottom: 10px;
  }
}
.container__un {
  min-width: 100%;
  overflow-x: hidden;
}

footer {
  place-items: bottom;
  background: #36382d;
}

footer ul {
  position: initial;
  margin-right: 45px;
  height: auto;
 
  color: white;
}

.liste_footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10%;
 
}

.liste_footer li {
  display: inline-block;
  line-height: 40px;
  margin: 0 45px;
}

footer ul li a {
  position: relative;
  color: white;
  font-size: 1.4rem;
}

.liste_footer h2 {
  font-size: 0.9rem;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

.liste_footer h3 {
  text-decoration: underline;
}

.media__bas {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.media ul li {
  margin: 10%;
  border: 0;
}

.media ul li a {
  font-size: 0.7rem;
  font-weight: 100;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.info {
  text-align: center;
  margin-top: 10%;
}

 .info h3 {
  font-size: 1rem;
  color: white;
}
.info h2{
  font-size: 0.7rem;
  color: white;
}
.name{
  border-bottom: white 1px solid;
  width:95%;
  margin: 0 auto;
  text-align: center;
}
.name h1{
  font-size: 2rem;
  color: white;
  font-weight: 100;
}
.politique{
  text-align: center;
  margin-top: 10%;
  
}
.politique p {
  font-size: 0.6rem;
  color: white;
  font-weight: 100;
}

.lang {
  text-align: center;
  margin-top: 10%;
}
a {
  color: white;
}
@media (min-width: 320px) {
  .murBlanc {
    height: 200vh;
  }
  .test {
    display: flex;
    order: 1;
    position: absolute;
 min-height: 50vh;
    
  }
  .limonade , .punch{
 
    margin-top: 10%;
    width: 50%;
  }
  .textePc {
    display: none;
  }
  .images__pc {
    display: flex;
    width: 80%;
    margin: 0%;
    height: auto;
    padding: 0;
    position:absolute;
   margin: auto;
    top: -10%;
    left: 0;
    right: 0;
    order: 2;
    
  }
  .images__pc img {
    width: 100%;
    height: auto;
    position: absolute;
  }
  .container__un {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column-reverse  ;
    text-align: center;
    align-content: center;
   
  }
 
  .image1 {
    width: 75%;
    position: relative;
    align-self: center;
    top: 3%;
  }
  .container__un h1 {
    position: relative;
    color: #1B604C;
    align-self: center;
   margin-bottom: 30%;
    font-size: 2.7rem;
    line-height: 50px;
    border-top: #1B604C;
  }
  .pAnim{
  
    font-size: 1rem;
    margin-top: 5%;
    order: 1;
  }
  .titreAnim{
    margin-bottom: 5%;
    order: 1;
  }
  .container__un p {
    margin-top: 10%;
    width: 100%;
    text-align: center;
   left: 0;
   right: 0;
  
    font-size: 0.8rem;
    font-weight: 100;

    color: #1B604C;
  }
  h5, h6 {
    font-size: 1.3rem;
    color: #1B604C;
    width: 160px;
    text-align: center;
    height: 110px;
    border: #1B604C solid 1px;
    margin-top: 20px;
    padding-top: 25px;
  }
  .subtitle {
    display: flex;
    width: 100%;
    opacity:1;
    position: absolute;
    bottom:0;
  }
  .limonade h2 {
   
    color: #1B604C;
  }
 
  .image2 {
    width: 80%;
    position: relative;
    align-self: self-start;
    right: 11%;
  }
  .punch h2 {
   width: 50%;
   left: 0;
   right: 0;
   margin: auto;
    color: #1B604C;
  }
  .image3 {
    width: 100%;
    position: relative;
    margin-top: 20%;
  }
  .container__trois {
  
    margin-top: 10%;
    background-image: url("assets/mobile1.png");
    overflow: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    padding-top: 10%;
  }
  .container__trois h2 {
    color: white;
    font-weight: 100;
    font-size: 1.6rem;
    width:100%;
    margin: 0 auto;
    line-height: 110%;
  }
  .container__trois h3 {
    float: right;
    margin-right: 10%;
    font-weight: 100;
    color: white;
    margin-top: 5%;
  }
  .container__trois p {
    background-color: #37382c;
    display: block;
 margin-top: 40vh;
    font-size: 0.8rem;
    padding: 7%;
    color: white;
    font-weight: 100;
  }
  .cinq__tour{
    border: #1B604C 1px solid;
    margin-top: 1%;
  }
  .container__cinq {
    text-align: center;
    padding-top: 30%;
    padding: 30% 10% 10% 10%;
 
  }
  .container__cinq h2 {
    width: 80%;
    margin: 0 auto;
    font-size: 2.5rem;
    color: #1B604C;
  }
  .container__cinq p {
    margin-top: 10%;
    font-size: 0.8rem;
    font-weight: 100;
  }
  .container__cinq h3 {
    color: #1B604C;
    font-size: 1.5rem;
    margin-top: 10%;
  }
  .container__six {
    color: #1B604C;
    text-align: center;
    padding: 30% 10% 0% 10%;
  }
  .container__six h2 {
    width: 60%;
    margin: 0 auto;
  }
  .container__six p {
    margin-top: 10%;
    font-size: 0.8rem;
    font-weight: 100;
    width: 96%;
    margin: 10% auto;
  }
  .container__six h3 {
    margin-top: -10%;
  }
  .fs-6 {
    font-size: 1.5rem;
    font-weight: 100;
    margin: 3% auto;
    padding: 3%;
    border: #1B604C 1.5px solid;
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 8px;
  }
  .fs-6::-moz-placeholder {
    color: #1B604C;
    font-size: 1.2rem;
    font-weight: 100;
  }
  .fs-6::placeholder {
    color: #1B604C;
    font-size: 1.2rem;
    font-weight: 100;
  }
  .mb-5 .fs-6 {
    padding-bottom: 80%;
  }
  .btn__envoyez {
    background-color: #1B604C;
    color: #fff;
    padding: 1rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 100;
    width: 50%;
    margin: 5% auto;
  }
  .container__sept img {
    width: 40%;
  }
  .image4{
    align-self: right;
    float: right;
     align-self: left;
    float: left;
  }

  .container__sept {
    text-align: center;
    height:50vh
  }
  .logoArbre{
    max-width:10%;
  }
  .container__sept h2 {
    color: #1B604C;
    font-size: 2rem;
    font-weight: 100;
    width: 100%;
    margin: 5% auto;
   
  }
}
@media (min-width:400px){
  .container__sept h2 {
    font-size: 2rem;
  }
}
@media (max-width:505px){
  .container__sept img {
    width: 40%;
  }

  .container__sept {
    background: url('assets/footerhd.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    height:auto;
    border: #1B604C 1px solid;
    padding: 50% 0% 80% 0%;
  }
  .image4 , .image5{
    
      position: absolute;
      max-width: 40vw;
  z-index: 1;
  }
 .image4{
    left: 0;
   
 }
  .image5{
    right: 0;
    margin-top: -110%;
  }
  .logoArbre{
    max-width:10%;
  }
.container__sept h2{
  
  z-index: 100;
}
.social-icons {
 

}
.social-icon {

 margin:2%;
}
}
@media (max-width:320px){
  .container__sept {

    padding: 60% 0% 80% 0%;
  }
  .image5{
    right: 0;
    margin-top: -18vh;
  }
  .social-icons {
    margin-top: 18vh;
   
   
   }
   .social-icon {

    margin:1%;
   }
}
@media (min-width: 374px) {
  .container__trois {
  
 
    background-size: cover;
  
  }
  .container__trois p{
    margin-top: 140%;
    font-size: 1rem;
  }
  
  .container__trois h2 {
    font-size: 2.4rem;
    width: 100%;
    margin: 0 auto;
    color: white;
  }
  h5, h6 {
    font-size: 1.3rem;
    width: 50%;
    text-align: center;
    height: 110px;
    border: #1B604C solid 1px;
    margin-top: 20px;
    padding-top: 25px;
  }
}
@media (min-width: 425px) {
  .image_mobile{
    width:520px !important;
   

  }
 
  h5, h6 {
    font-size: 1.5rem;
    height: 110px;
    margin-top: 20px;
    padding-top: 25px;
  }

 
}
@media (min-width: 768px) {
  .subtitle {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  h5, h6 {
    width: 29%;
  }
}
@media (min-width: 320px) {
  .container__deux h1, p {
    text-align: center;
    color: #1B604C;
  }
  .container__deux h1 {
    width: 55%;
    
    left: 0;
    right: 0;
    margin: 10% auto;
    font-size: 2.5rem;
  }
  .container__deux p {
    margin-top: 10%;
    width: 90%;
    margin-left: 5%;
    font-size: 0.8rem;
  }
  .container__trois {
    max-width: 100%;
    margin-top: 10%;
    position: relative;
    overflow: hidden;
  }
}
@media (min-width: 375px) {
  .container__deux h1 {
    width: 50%;
  }
}
@media (min-width: 425px) {
  .container__deux h1 {
    width: 45%;
  }
}














@media (min-width: 1024px) {
  .compliments{
    overflow-x: none;
  }
.modalSocial a svg{
  width: 30px;
}
.modalSocial{
  display: flex;
width: 52.5%;
margin: 5% auto;
 
}

  .modal1 {
    max-width: 50%;
    padding: 7.5% 1.5% 5% 1.5%;
    
  }
  .modal1 p{
    font-size: 1rem;
    font-weight: 700;
    font-family: "Nokora", sans-serif;
  }
  .modal2{
   width:50%;
    background-image: url("assets/mapcommerce 2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 400px;
    position: relative;
    border-radius: 8px 0 0 8px;
  }
.modal form input{
  width: 95%;
  margin: 0 auto;
  display: block;
  padding: 10px;
  margin-top: 40px;
  border-radius: 5px;
  border: 1px solid #1B604C;
}
.poparb{
  position: absolute;
  top: -28px;
  left: 65%;
  width: 50px;

}
.sub{
  width: 95%;
  margin:0 auto;
  left: 0;
  right: 0;
 
  display: block;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #1B604C;
  background-color: #1B604C;
  color: white;
  cursor: pointer;
}
.sub:hover{
  background-color: white;
  color: #1B604C;
}
.modal form input::placeholder{
  color: #1B604C;
}
.modal form input:focus{
  outline: none;
}
.modal form input:focus::placeholder{
  color: #1B604C;
}
.close{
  background: none;
  border: none;
  font-size: 5rem;
  font-weight: bold;
  cursor: pointer;
  color: rgb(255, 255, 255);
  position: absolute;
  top: 5%;
  right: 5%;
}
.close:hover {
  color:#1B604C;
  
}
  .overlay{
  display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:20000;
    background-color: rgba(0,0,0,0.7);
    background-image: url("assets/footerhd.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .modal{
    max-width: 600px;
    height: 400px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top:50vh;
    transform: translateY(-50%);
    background-color: white;
    position: absolute;
    border-radius: 8px;
    display: flex;
    filter: drop-shadow(0 0px 5px rgb(255, 255, 255));
  }
  .modal h2{
    font-size: 2rem;
    color: #1B604C;
    text-align: center;
    margin-top: 1%;
    font-weight: 800;
    font-family: "Nokora", sans-serif;
   
  }
  
  .show-modal{
   display: block;
    animation:  show 0.2s;

  }
  @keyframes show{
    from{
    display:none;
      transform: scale(0);
    }
    to{
      display: block;
      transform: scale(1);
    }
  }
  .hide-modal{
   display: none;
    animation:  hide 0.25s;
  }

  @keyframes hide{
    from{
      display: block;
      transform: scale(1);
    }
    to{
      display: hidden;
      transform: scale(0);
    }
  }
  
  .text-wrapper{
 
    position: relative;
    display: flex;
    justify-content: flex-start;
    background-color:#1B604C;
    border-bottom: white 1px solid;
    overflow: hidden;
  }
  @keyframes move-rtl {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-1000%);
    }
    
  }
  .text-wrapper h1{
    font-size: 1.3rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color:white;
    white-space: nowrap;
    padding: 0 6rem;
    letter-spacing: 1px;
    animation: move-rtl 40000ms linear infinite;
  }
  .svgt{
  display: inline;
  }
  .mission{
    color: white;
  }
  .vertextR{
    display: block;
    writing-mode:vertical-lr;
   transform: rotate(180deg);
    position: absolute;
    align-self: start;
    margin-top:3% ;
    width: 90%;
    margin-left: 2%;
    color: #1B604C;
    font-family: "Nokora", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:0.8rem;
    z-index: 10;
    letter-spacing: 5px;
  }
 .vertextL {
  display: block;
  letter-spacing: 5px;
  writing-mode: vertical-rl;
  position: absolute;
  align-self: start;
  margin-top:5% ;
  height: 40%;
  margin-left: 2%;
  font-family: "Nokora", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size:0.8rem;
  z-index: 10;
 }
 .cinq__tour .vertextL{
  color:#1B604C;
 }
  .shop{
    align-self: end;
    margin: 15% 10%;
    left:auto;
    
    margin:none;
  }
  .hidin{
    display: none;
}
  .compliments {
    max-height: none;
    min-height: 13vh;
    justify-content: space-around;
   padding: 0% 5% 0% 5%;  
   margin: 0% 5% 0% 5%;
  }
  .item{
    margin: 0;
  }

  .name{
    border-bottom: white 1px solid;
    width:100%;
    margin: 0 auto;
    text-align: center;
    
  }
  .name h1{
    font-size: 5rem;
    color: white;
    font-weight: 100;
    
  }

.container__sept{
  background: url('assets/footerhd.png');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 100%;
  display: grid;
  place-items: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: clip-path 1s;
background-position: bottom;
height: auto;

}

.logoArbre{
  max-width: 5vw;
  position: absolute;
  align-self: baseline;
  margin-top: 10%;
}

.social-icons {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25%;
}
.social-icon {
  width: 5vw;
  height: auto;
  display: flex;
  flex-direction: row;
 margin:6%;
 
}

.social-icon svg {
  width: 100%;
  height: 100%;
}

.social-icon:hover {
  color: #007bff; /* Change la couleur au survol, ou selon ta préférence */
}








 
  .scroll-down {
    header {
      transform: translate3d(0, -100%, 0);
      top:0;
    }

  }
  
  .scroll-up {
    header {
     
      filter: drop-shadow(0 -10px 20px rgb(76, 173, 76));
      top:0;
    }
  }

 header{
 transition:0.3s;
 position: fixed;
 }
 header{
  position:fixed;
 
  background-color:#1B604C ;
  height: 70px;
  color:black;
  z-index: 100;
  nav h1 , nav ul li a{
    color:white;
  }
 }

  .content h1{
    display: block;
    
  }
 .char{
  transform: translateY(115px);
  transition: transform 0.8s;
 }
 .imagean{
  height: 100vh;
  position:absolute;
  width: 100%;
  top:0;
  z-index: 3000;
  display: grid;
  place-items: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transition: clip-path 1s;
 }
 .content{
  position: absolute;
  display: grid;
  place-items: center;
 }
 .content h1{
  font-size: 8rem;
  color:#1B604C;
  font-weight: 900;
 }
   .imageanime{
    background: url('assets/louis-paulin-XvJ4OC7wmjM-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
   }
    .container__sept h2 {
     position:relative;
      align-self: start;
      z-index: 100;
        font-size: 4.5rem;
        font-weight: 500;
     margin: 20% 20% 2% 20%;
        
        line-height: 120%;
      }
    .hid{
        display:block;
    }
    .liste_nav li a:hover{
        color:#9ec473;
        border-bottom: #9ec473 1px outset;
        transition:  0.5s;
      }
  .murBlanc {
    height: 400vh;
  }
  .container__un {
    min-width: 100vw;
    text-align: left;
    display: block;
    overflow: visible;
    height: 80vh;
    
    padding-bottom: 10%;
  }
  
  .image1, .image2 {
    display: none;
  }
  .textePc {
    font-size: 0.75rem;
    color: grey;
    display: block;
    position: absolute;
    width: 21%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    line-height: 17px;
    top: 30px;
    opacity: 0;
  }
  .container__un h1 {
    margin: 0;
    padding: 0;
    align-self: normal;
    position: relative;
    width: 30%;
    height: 1%;
    margin-left: 15%;
    margin-top: 13%;
    text-align: left;
    font-size: 3rem;
  }
  .container__un p {
   border-top: none;
    margin-left: 5%;
    width: 48%;
    text-align: left;
    
    font-size: 0.9rem;
  }
  .images__pc {
    display: flex;
    width: 30%;
    margin: 0%;
    height: 100%;
    padding: 0;
    position: absolute;
    align-self: center;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    
  }
  .images__pc img {
    width: 100%;
    height: auto;
  }
  .canverte {
    z-index: 1;
  }
  h5, h6 {
    border: 0px;
  }
  .canrouge {
    position: absolute;
  }
  .canverte, .canrouge {
    position: absolute;
    width: 100%;
  }
  .subtitle {
    position: absolute;
    margin-top: -25%;
    align-self: center;
    justify-content: space-around;
    opacity: 0;
  }
  h5, h6 {
    font-size: 2.5rem;
    width: 65%;
  }
  h5 {
    margin-right: 20%;
  }
  h6 {
    margin-left: 20%;
  }
  .limonade h2, .punch h2 {
    margin: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 50%;
    max-width: none;
    float: none;
    font-size: 3rem;
    font-weight: 100;
  }
  .limonade p, .punch p {
    text-align: center;
    margin: 0;
    width: 60%;
    float: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 5%;
    font-size: 1rem;
    color: #1B604C;
  }
  .limonade, .punch {
    position: relative;
    align-items: center;
  }
  .limonade {
    right: 28px;
  }
  .test {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    top: 25%;
    opacity: 0;
  }
  .image3 {
    margin-top: 0%;
  }
  .image3 {
    width: 50%;
  }
  .container__quatre {
    display: flex;
    border: #1B604C 1px solid;
  }
  .container__deux {
    margin-top: 10%;
  }
  .container__deux h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 100%;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .container__deux p {
    width: 65%;
    font-size: 0.8rem;
    font-family: "Nokora", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: #1B604C;
  }
  .image4 {
   align-self:flex-end;
    margin: 10%;
   left: 1px;
   right: 0;
z-index: 1;

  }
  .image5{
    align-self: self-start;
    margin: 5%;
    right: 1px;
    z-index: 1;
  }
  .image4 , .image5{
    position:absolute;
    max-width:20vw;
  }
  .container__trois {
    background-image: url("assets/msision 1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-top: 3%;
    text-align: center;
    padding: 10% 6% 0%;
   
  }
  .container__trois h2 {
    font-size: 3.3rem;
    color: white;
    font-weight: 500;
    line-height: 105%;
    margin-top: -1%;
  }
  .container__trois p {
    color: white;
    font-family: "Nokora", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    font-size: 1.4rem;
    width: 50%;
    margin-top: 15%;
    background: none;
    padding: 0;
  }
  .container__trois h3 {
    float: right;
    margin-top: 5%;
    color: white;
    font-weight: 100;
    margin-right: 2%;
    font-size: 1.7rem;
  }
  .container__cinq2, .container__cinq2 img {
    display: block;
  }
  .cinq__tour {
    display: flex;
  }
  .container__cinq {
    width: 100%;
    height: auto;
    padding: 0;
    padding-top: 10%;
  }
  .container__cinq h2 {
    width: 40%;
  }
  .container__cinq p {
    font-family: "Nokora", sans-serif;
    font-weight: 400;
    font-style: normal;
    left: 0;
    right: 0;
    margin: 10% auto;
  }
  .container__cinq p:first-of-type {
    margin-bottom: -5%;
  }
  .container__cinq2 {
    width: 100%;
  }
  .image6 {
    width: 100%;
  }
  nav h1 {
    left: 8%;
  }
  .image7 {
    display: flex;
    position: absolute;
    width: 18%;
    
    overflow-y:auto;
    top: 60%;
    align-self: center;
    margin: auto;
    left: 0;
    right: 0;
  }
  .container__six {
    text-align: left;
    padding: 0;
    display: flex;
    border: #1B604C 1px solid;
  }
  .splitText, .splitCont {
    width: 100%;
    display: block;
  }
  .splitText {
    padding: 5% 0% 0% 8%;
    display: flex;
    flex-direction: column;
  }
  .splitText h2 {
    width: 80%;
    font-size: 3rem;
    margin: 0;
  }
  .splitText p {
    text-align: left;
    margin: 0;
    margin-top: 8%;
    font-size: 0.9rem;
    width: 70%;
    font-family: "Nokora", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .container__six h3 {
    margin: 0;
    margin-top: 1%;
  }
  .fs-6 {
    font-size: 1.5rem;
    font-weight: 100;
    margin: 3% auto;
    padding: 0.5%;
    border: #1B604C 1.5px solid;
    left: 0;
    right: 0;
    width: 50%;
    border-radius: 5px;
  }
  .f1, .f3 {
    width: 80%;
  }
  .f2, .f4 {
    width: 100%;
  }
  .mb-5 .fs-6 {
    padding-bottom: 50%;
  }
  .btn__envoyez {
    grid-area: F;
    padding: 3% 5% 9% 5%;
    width: 30%;
    margin-left: 70%;
    left: 0;
    right: 0;
  }
  .splitCont {
    display: grid;
    grid-template-columns: 60% 30%;
    grid-template-rows: 15% 15% 50% 20%;
    grid-template-areas: "A B" "C D" "E ." "F F";
    padding-top: 5%;
  }
  .liste_footer {
    justify-content: right;
    display: flex;
    flex-direction: row;
    grid-area: A;
    max-width: 100%;
    text-align: left;
  }
  .liste_footer li a {
    align-self: right;
    font-size: 1rem;
    text-align: left;
    margin: 0;
    justify-content: space-between;
    width: 10%;
    font-family: "Nokora", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .liste_footer li {
    margin: 0;
    margin: 6% 0% 6% 6%;
    line-height: normal;
    padding: auto;
    text-align: right;
  }
  .info {
    grid-area: B;
    text-align: left;
  }
  .info h2{
    font-family: "Nokora", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .info h3{
    text-decoration: underline;
  }
  .media {
    grid-area: C;
    text-align: left;
    justify-content: left;
  }
  .media__bas {
    text-align: left;
    margin: 0;
    justify-content: left;
    max-width: auto;
  }
  .media ul li {
    padding: 0;
    text-align: left;
    margin: 0;
    margin: 10% 10% 10% 0%;
  }
  .politique {
    grid-area: D;
  }
  .lang {
    grid-area: E;
    justify-content: right;
    margin: 0;
  }
  footer ul {
    margin: 0;
  }
  .lang p {
    font-size: 1rem;
    margin: 8% 0% 0% 0%;
    text-align: right;
    font-family: "Nokora", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  .politique p {
    font-size: 0.6rem;
    margin: 5% 0% 0% 0%;
    font-family: "Nokora", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .pied {
    display: grid;
    grid-template-columns: 10% 26% 24% 30% 10%;
    grid-template-areas: ". B . A ." ". C D E .";
  }
  .name {
    min-height: 13vh;
  }
 a{
  color:white;
  font-family: "Nokora", sans-serif;
  font-weight: 400;
  font-style: normal;
 }
}
@media (min-width: 1440px) {
  .container__un .vertextL{
    margin-top: 1%;
    margin-left: 4.2%;
  }
  .vertextL , .vertextR {
    font-size: 1rem;
  }
  .compliments {
    max-height: none;
    min-height: 18vh;
    justify-content: space-around;
   padding: 0% 5% 0% 5%;  
  }
  .social-icons {
  
    
  }
  .lang{
   
    margin-top: 5%;
  }
  .politique{
    margin-top:10%;
  }

  .politique p{
    font-size: 0.8rem;
  }

  .info{
    margin-top:15%;
  }
  .info h2{
    font-size: 1.2rem;
  }
  .info h3{
    font-size: 1.3rem;
  }
  .image6{
    width: 95%;
    margin:5% 3% 5% 0%;
  
  }
  .container__trois p{
    margin-left: 4vw;
  }
.container__cinq h2{
  font-size: 3.5rem;
}
  .container__cinq p {
    width: 100%;
    line-height: 140%;
   font-size: 1.5rem;
   
  }
  .container__trois h2 {
    font-size: 4.3rem;
  
  }
  .btn__envoyez{
    padding:3% 3% 7% 3%;
    width: 23%;
   
  }
  .container__sept{
   
  }
    .container__sept h2 {
        font-size: 7rem;
        
       z-index: 100;
       margin-top:20%;
      }
  .container__un {
    padding-bottom: 20px;
    min-width: 100vw;
    align-content: none;
  }
  .container__un h1 {
    margin-top: 0;
  }
  .container__un p{
    font-family: "Nokora", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
  }
  .limonade p, .punch p {
    font-size: 1.6rem;
  }
  .images__pc {
    width: 25vw;
    float: none;
  }
  .images__pc img {
    width: 100%;
  }
  .container__deux p {
    font-size: 1.3rem;
  }
  .container__deux h1 {
    font-size: 3.5rem;
   
  }
  .container__deux {
    max-width: 50%;
    
    
  }
.splitText h2{
    font-size: 4.2rem;
   line-height: 110%;
  }
    .splitText p{
      font-size: 1.3rem;
      margin-top: 5%;
    }
    .splitText h3{
      font-size: 1.8rem;
    }

    .images__pc {
    margin-top: 0%;
   
    }
    .media ul li a{
      font-size: 1rem;
    }
  
}


@media (min-width: 2000px) {

  .item h4{
    font-size: 1.5rem;
   min-width: none; 
   max-width: none;
  }
  .compliments img {
    height: 85px;
    margin-top: 0;
}
  .container__cinq h2 {
    font-size: 5.5rem;
  }
  .container__cinq p {
    font-size: 2.3rem;
   
  }
 

.liste_footer li a{
  font-size: 1.7rem;
}
.liste_footer{
max-width: none;
padding-left:33%;
}
  .lang{
   
    margin-top: 3%;
  }
  .lang p{
    font-size: 1.2rem;
  }
  .politique{
    margin-top:0;
  }

  .politique{
    margin-top:0;
  }

  .politique p{
    font-size: 1rem;
  }
  .info h2{
    font-size: 1.3rem;
  }
  .info h3{
    font-size: 1.8rem;
  }
.media ul li a{
  font-size: 1rem;
}
  .info{
    margin-top:15%;
  }
  .container__deux{
    margin-top:5%;
  }
  .container__trois p{
    margin-left: 6.5vw;
    font-size: 2rem; 
  }
  .container__trois h2 {
    font-size: 5rem;
  
  }
    .container__sept h2 {
        font-size: 9.3rem;
      }
  .container__deux h2 {
    font-size: 4rem;
  }
  .container__deux p {
    font-size: 2rem;
  }
  .container__un {
    height: 100vh;
  }
  .container__un p{
    font-size: 1.6rem;
  }
 .btn__envoyez{
    padding:3% 3% 8% 3%;
    width: 23%;
   font-size: 2rem;
  
 }

}

@media (min-width: 1900px) {
  .politique{
    margin-top:0%;
  }
  nav h1{
    top:10%;
   }
   .splitText h2{
    font-size: 6rem;
   
   }
    .splitText p{
      font-size: 1.8rem;
      margin-top: 5%;
    }
    .splitText h3{
      font-size: 1.8rem;
    }
  
    .shop{
      margin: 15% 10%;
      
      vertical-align: middle;
      justify-self: center;

     
      
      
    }
}
@media(min-width:2200px){
  .container__trois h2{
    font-size: 7rem;
  }
}
@media(min-width:3000px){
  .container__sept h2{
    font-size: 14rem;
  }
}